#fundo {
  background: greenyellow;
}
div {
  width: 200px;
  height: 200px;
  border: 10px solid #8f382e;
  margin: 20px auto;
  background: aquamarine;

  box-shadow: inset 10px 10px 20px blue, 10px 10px 20px red;
}
/*
box-shadow: 10px 10px;
box-shadow: 10px 10px blue;
box-shadow: 10px 10px 20px  blue;
box-shadow: inset 10px 10px 20px blue;
*/