#fundo {
  background: greenyellow;
}
h1 + p {
  text-decoration: underline wavy brown 3px;
  /*
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: brown;
  text-decoration-thickness: 3px;
 */
}
a {
  text-decoration: none;
}

/*
text-decoration-thickness: 2px;
*/

/*
text-decoration-color: brown;
*/

/*
text-decoration-style: dashed;
text-decoration-style: double;
text-decoration-style: dotted;
*/

/*
text-decoration-line: line-through;
text-decoration-line: overline;
text-decoration-line: underline;
text-decoration: underline;
text-decoration: line-through;
text-decoration: overline;
*/
